extends layout

block content
  div.container
    h1 Outlookで、会議室の地図URLを貼り付けるマクロ
    
    h2 実現イメージ
    img.img-fluid(src='../images/kocchi2.gif')
    

    h2 ユーザが設定する必要があること
    ul
      li マクロをダウンロードしてもらう(必須)
      li マクロをリボンに登録してもらう(必須)
      li 表示名を変更してもらう(オプション)
      li アイコンを変更してもらう(オプション)
    br
    
    h2 マクロだけで実現できること
    ul
      li 宛先から会議室名を抽出する
      li 抽出した会議室名を遷移パラメータにセットする
      li 現在のカーソル位置に地図URLを貼り付ける
    br

    h2 不明なこと
    ul
      li 自分の環境ではオレオレ証明書(SelfCert.exeによる証明書)でマクロを使えるが、人に配布するとき証明書どうする？
      li マクロをダウンロードして保存してもらうことになるが、どこに保存させればよいか不明
    br

    h2 マクロ
    pre.prettyprint.bg-light
      code.language-java Sub Kocchi()
        |
        |   ' 現在表示しているメールオブジェクトを取得する
        |   Dim objlns As Inspector
        |   Dim objItem As Object
        |   Set objlns = Application.ActiveInspector
        |   Set objItem = objlns.CurrentItem
        |   
        |   ' 宛先情報から会議室名を取得する
        |   Dim objMeetingRoomName As String
        |   objMeetingRoomName = getMeetingRoomName(objItem)
        |   
        |   ' 会議室の地図URLを作成する
        |   Dim mapUrl As String
        |   mapUrl = "http://hogehoge?param=" & objMeetingRoomName
        |   
        |   ' 会議室の地図URLをカーソル位置に挿入する
        |   Dim objDoc As Object
        |   Set objDoc = objItem.GetInspector().WordEditor
        |   objDoc.Application.Selection.TypeText mapUrl
        | End Sub
        |   
        | Function getMeetingRoomName(ByVal objItem As Object) As String
        |   ' 正規表現で会議室名を抽出する
        |   Dim reg As Object
        |   Set reg = CreateObject("VBScript.RegExp")
        |   With reg
        |       .Pattern = "[NS][0-9]{4}[A-Z]"
        |       .IgnoreCase = False
        |       .Global = True
        |   End With
        |   
        |   Dim destStr As String
        |   Dim matches As Object
        |   destStr = objItem.To
        |   Set matches = reg.Execute(destStr)
        |   
        |   ' 単一の会議室が抽出された場合のみ、会議室名を返却する
        |   ' 0または2件以上抽出された場合は、
        |   ' エラーメッセージを表示して空文字列を返却する
        |   If matches.Count = 0 Then
        |       MsgBox "宛先に会議室がありません"
        |       getMeetingRoomName = ""
        |       Exit Function
        |   End If
        |   
        |   If matches.Count >= 2 Then
        |       MsgBox "宛先に複数の会議室が入力されています"
        |       getMeetingRoomName = ""
        |       Exit Function
        |   End If
        |   
        |   For Each Match In matches
        |       getMeetingRoomName = Match
        |   Next Match
        | End Function
    br

    h2 参考サイト
    ul
      li
        a(href='https://outlooklab.wordpress.com/2016/02/27/%E3%83%A1%E3%83%BC%E3%83%AB%E6%9C%AC%E6%96%87%E3%81%AE%E6%9B%B8%E5%BC%8F%E3%82%92%E5%A4%89%E6%9B%B4%E3%81%9B%E3%81%9A%E3%81%AB%E6%96%87%E5%AD%97%E5%88%97%E3%82%92%E8%BF%BD%E5%8A%A0%E3%81%99%E3%82%8B/') メール本文の書式を変更せずに文字列を追加する方法
      li
        a(href='https://www.sejuku.net/blog/30059') VBAのIf文を使いこなそう！ 条件分岐の基本をスッキリ解説
      li
        a(href='https://codeday.me/jp/qa/20190409/591592.html') VBAで文字列型変数に文字を代入する方法
      li
        a(href='https://www.sejuku.net/blog/33541') VBAで正規表現による文字抽出
      li
        a(href='https://www.sejuku.net/blog/28904') VBA Functionの使い方
      li
        a(href='http://excelvba.pc-users.net/fol6/6_6.html') Functionの途中で抜け出す
      li
        a(href='http://officetanaka.net/excel/vba/function/VarType.htm') VBAの変数の型を調べる方法
      br

